<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>822852582959-el5rmm2n674hdvrudv6su9eqtpeh094a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822852582959-el5rmm2n674hdvrudv6su9eqtpeh094a</string>
	<key>API_KEY</key>
	<string>AIzaSyDY-OPhtZ0l6tiVwGr5zwYL3yjR9wiwTsk</string>
	<key>GCM_SENDER_ID</key>
	<string>822852582959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>baharatbas.Ak-ll-Tabak</string>
	<key>PROJECT_ID</key>
	<string>akillitabak-60f8b</string>
	<key>STORAGE_BUCKET</key>
	<string>akillitabak-60f8b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822852582959:ios:9d62ce003b4acf9469d0da</string>
</dict>
</plist>